<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SettlementLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SettlementLoader.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=Mp2-AppSrv;Initial Catalog=Settlement;Persist Security Info=True;User ID=pid_Settlement;Password=fnig56^#;Connection Timeout=30;&#xA;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;MultipleActiveResultSets=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <SettlementLoader.Properties.Settings>
            <setting name="ApplicationID" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskName" serializeAs="String">
                <value>SettlementLoader</value>
            </setting>
            <setting name="BaseURLErcot" serializeAs="String">
                <value>https://mis.ercot.com:443</value>
            </setting>
        </SettlementLoader.Properties.Settings>
    </applicationSettings>
</configuration>
